package org.kisio.NavitiaSDK;

public class NavitiaConfiguration {
    public String getToken() {
        return token;
    }

    public void setToken(String token) {
        this.token = token;
    }

    private String token = "";

    public NavitiaConfiguration(String token) {
        this.token = token;
    }
}
