package org.kisio.NavitiaSDK;

import org.kisio.NavitiaSDK.apis.PlacesApi;

public class NavitiaEndpoints {
    private NavitiaConfiguration navitiaConfiguration;
    private PlacesApi placesApi;

    public PlacesApi getPlacesApi() {
        return placesApi;
    }

    public NavitiaEndpoints(NavitiaConfiguration navitiaConfiguration) {
        this.navitiaConfiguration = navitiaConfiguration;
        this.placesApi = new PlacesApi(this.navitiaConfiguration.getToken());
    }
}
