package org.kisio.NavitiaSDK;

import org.kisio.NavitiaSDK.apis.PlacesApi;

public class NavitiaFeatures {
    private NavitiaConfiguration navitiaConfiguration;
    private PlacesApi autoComplete;

    public PlacesApi getAutoComplete() {
        return autoComplete;
    }

    public NavitiaFeatures(NavitiaConfiguration navitiaConfiguration) {
        this.navitiaConfiguration = navitiaConfiguration;
        this.autoComplete = new PlacesApi(this.navitiaConfiguration.getToken());
    }
}
