package org.kisio.NavitiaSDK;

import org.kisio.NavitiaSDK.apis.PlacesApi;

public class NavitiaEndpoints {
    private NavitiaConfiguration navitiaConfiguration;
    private PlacesApi places;

    public PlacesApi getPlaces() {
        return places;
    }

    public NavitiaEndpoints(NavitiaConfiguration navitiaConfiguration) {
        this.navitiaConfiguration = navitiaConfiguration;
        this.places = new PlacesApi(this.navitiaConfiguration.getToken());
    }
}
