package org.kisio.NavitiaSDK;

import org.junit.Test;
import org.kisio.NavitiaSDK.models.PlacesResponse;

import java.util.List;

import static org.junit.Assert.*;

public class NavitiaSDKTest {
    @Test
    public void shouldInstantiateGivenValidConfiguration() throws Exception {
        NavitiaSDK navitiaSDK = new NavitiaSDK(new NavitiaConfiguration("takotak"));

        assertNotNull(navitiaSDK);
        assertNotNull(navitiaSDK.getConfiguration());
        assertEquals("takotak", navitiaSDK.getConfiguration().getToken());
        assertNotNull(navitiaSDK.getEndpoints());
        assertNotNull(navitiaSDK.getEndpoints().getRawPlacesApi());
        assertNotNull(navitiaSDK.getFeatures());
    }

    @Test
    public void shouldRetrieveEndpointPlacesResultsGivenValidConfigurationWithGeneratedSyncRequester() throws Exception {
        NavitiaSDK navitiaSDK = new NavitiaSDK(new NavitiaConfiguration("9e304161-bb97-4210-b13d-c71eaf58961c"));

        String q = "gare";
        List<String> type = null;
        Integer count = 10;
        Integer searchType = null;
        List<String> adminUri = null;
        Integer depth = null;
        Boolean disableGeojson = null;
        String from = null;
        String shape = null;
        PlacesResponse response = navitiaSDK.getEndpoints().getRawPlacesApi().getPlaces(q, type, count, searchType, adminUri, depth, disableGeojson, from, shape);

        assertEquals("Capdenac-Gare", response.getPlaces().get(0).getName());
    }
}